.Header {
background-color: #00926e;
text-align: left;
height: 165px;

display: flex;
align-items: center;
}

.img_to_circle {
border-radius: 50%;
margin-right: 30%;
margin-left: 1%;
}
  
.Header a {
margin: 0 29px;
color: white;
text-decoration: none;
font-size: large;
}

.font{
    font-size: 50%;
}
  