.section-height{
    padding-top: 80px;
    height: 90vh;
}

@media screen and (max-width: 600px) {
    .section-height{
        height: auto;
    }
}

.hidetext {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4; /* Adjust the number of lines as needed */
    white-space: normal; /* Ensures that text wraps within the specified number of lines */
  }
  