:root {
  --background-filter-light: #f8f9fa; /* Bootstrap's bg-light color */
  --background-filter-dark: #343a40; /* Bootstrap's bg-dark color */
  --text-color-light: black;
  --text-color-dark: white;
}

body.light-mode {
  --background-filter: var(--background-filter-light);
  --text-color: var(--text-color-light);
}

body.dark-mode {
  --background-filter: var(--background-filter-dark);
  --text-color: var(--text-color-dark);
}

.homepage-background {
  background-color: var(--background-filter);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.content-layer {
  position: relative;
  z-index: 2;
  color: var(--text-color); /* Apply text color based on mode */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-heading {
  font-weight: 500;
  background: radial-gradient(circle at 10% 20%, rgb(85, 149, 27) 0.1%, rgb(183, 219, 87) 90%);
  background-size: 200% 200%; /* Ensure the gradient is large enough to animate smoothly */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 3s linear infinite;
}
