.row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(225, 252, 238);
}

@media (max-width: 700px) {
    .row-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: rgb(225, 252, 238);
    }

    .row-item {
        padding: 0 !important;
    }
}

@media (max-width: 700px) {
    .projects-container {
        width: 100%;
        padding-left: 40px !important;
        padding-right: 40px !important;
        flex-direction: column;
        display: flex;
    }
}

.home-container {}

.home-container h3 {
    font-size: 2vw;
}

.home-container p {
    font-size: 1.45vw;
}

.our-projects-container {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(85, 160, 90);
}

.our-projects-container .our-projects-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.projects-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    display: flex;
}

.row-item {
    font-style: italic;
    font-size: 24px;
    margin-bottom: 70px;
    padding-left: 60px;
}

.row-container h3 {
    text-align: right;
    padding-right: 40px;
}

.chameleon-logo {
    width: 30vw;
    margin-right: 40px;
    margin-left: 40px;
}