.project-container {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: azure;
}

@media (max-width: 700px) {
    .project-container {
        align-items: center;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        background-color: azure;
    }
}

.project-container h3 {
    text-align: center;
    padding: 30px;
}

.project-item-image {
    width:100%;
}