.dashboard-container {
    padding: 20px 30px;
    background-color: #f5f5f5;
}

/*card containers*/
.top-cards, .bottom-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    margin-bottom: 20px;
}

.top-cards .card, .bottom-cards .card {
    flex: 1 1 calc(25% - 15px); 
    padding: 15px;
    background-color: #fff;
    margin: 0;
}

.card-description {
    font-size: 1em;
    color: #141313;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 0.9em;
    color: #131313;
}

.card-title {
    font-size: 0.7em;
    font-weight: normal;
    padding: 0px;
}

.card-value{
    font-weight: bold;
    padding: 0px;
}

.bottom-cards .card h5 {
    font-size: 1.0em; 
    margin-bottom: 10px;
    text-align: left;
    margin-bottom: 0%;
}

.bottom-cards .card ol {
    list-style-type:decimal;
    padding:15px;
    margin: 0;
    text-align: left; 
    font-weight: bold;
}

.bottom-cards .card ul li {
    margin-bottom: 5px; 
}

.card-title, .card-value, .card-description {
    line-height: 0.7; 
}

/* Responsive behavior */
@media (max-width: 768px) {
    .top-cards .card, .bottom-cards .card {
        flex: 1 1 calc(50% - 10px); 
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .top-cards .card, .bottom-cards .card {
        flex: 1 1 100%; 
        margin-bottom: 10px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bottom-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width5 {
    width: 20px;
}

.login-centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: left;
    background-color: #f0f0f0;
    /* background-image: url(./image/bg_2.jpg); */
    position: relative;
}

.container_2 {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: #f0f0f0;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.login-toast-message {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; 
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 5s 1;
}

@keyframes fadeInOut {
    0%,100% { opacity: 0; }
    10%,90% { opacity: 1; }
}


.social-container a:hover {
    background-color: #eee;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ededed;
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.dowebok {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 900px;
    height: 550px;
    margin: -300px 0 0 -450px;
    background: #fff;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.dowebok.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.signin-up-button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 35px;
    border-radius: 32px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.signin-up-button:hover{
    background-color: #917651;
}
.icon:hover {
    filter: invert(50%);
}
.auth-form{
    background-color: white;
    padding: 16px 24px;
    border-radius: 16px 16px 0 0; 
}

.auth-form-switch{
    padding: 16px;
    /* background-image: url(./image/bg_2.png); */
    background-size: cover;
    border-radius: 0 0 16px 16px; 
    background-color: rgba(200,100,0,.5);
    background-blend-mode: multiply;

}

@media only screen and (min-width: 600px) {
    .container_2{
        display: flex;
        flex-direction: row;
    }
    .auth-form{
        width: 60%;
        padding: 32px;
        border-radius: 16px 0 0 16px; 
    }
    .auth-form-switch{
        display: flex;
        width: 46%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 16px 16px 0; 
    }
}


.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    /* background-image: url(./image/bg_2.png);  */
    background-size: cover;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.dowebok.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img__text {
    z-index: 2;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.dowebok.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.dowebok.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 24px auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}

.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.dowebok.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.dowebok.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

/* label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #909399;
    text-transform: uppercase;
} */

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.forgot-pass a {
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    transition-timing-function: ease-out;
}

.dowebok.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.dowebok.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 100px 0;
    font-weight:  bold;
    cursor:  pointer;
}

ul .data {
    list-style-type: none;
    padding: 20px;
}

li .data {
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}

li button {
    padding: 5px 20px 5px 20px;
    background: #c0ffd8;
    border-color: #1a7d40;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #1a7d40;
    position: relative;
    text-align: center;
    height: 46px;
    border-radius:10px;
    margin-left: 20px;
}

li button .data-demote-btn {
    background: #ffc0c0;
    border-color: #7d1a1a;
}

.App-main {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .projects-table {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .projects-table h2 {
    margin-bottom: 20px;
  }
  
  .projects-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .projects-table th, .projects-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .projects-table th {
    background-color: #f1f1f1;
  }
  
  .projects-table td {
    font-size: 16px;
  }  

