.search-btn {
   display: none;
}

.about-page .col-lg-6 iframe {
   width: 100%;
}

.navbar-nav a{
    background: none;
}

/* Max-Width : 1099px */

@media only screen and (max-width: 1099px) {
   .search-btn {
      display: block;
   }

   .outer-form {
      display: none !important;
   }

   .contact_body{
    height: auto;
    justify-content: space-between;
   }

   .contact_item_context{
    width: auto;
   }
}
/* Max-Width : 1024px */

@media only screen and (max-width: 1024px) {
   a.nav-link {
      margin: 0;
   }

   .navbar-nav img.rounded-circle {
      width: 40px;
      height: 40px;
      margin: auto 10px;
   }

   .navbar-expand-lg .navbar-collapse {
      align-items: center;
   }

   .footer-content {
      margin: 0;
      gap: 30px;
      align-items: center;
   }

   .footer-content img.img-fluid {
      width: 150px !important;
   }

   .contact-menu {
      padding: 0;
      max-width: fit-content;

      & h2 {
         margin: 5px 0px 0px;
         font-size: 26px;
      }

      & p {
         margin: 5px 0px 0px;
         font-size: 16px;
      }
   }

   .socials {
      margin: 0;
      width: fit-content;

      & p {
         width: fit-content;
         margin: 10px 0px 0px;
      }
   }

   .social-icons {
      justify-content: center;
   }

   .deakin-logo {
      width: 100px !important;
      height: 100px !important;
   }

   .carousel-caption {
      margin-right: -100px;

      & p {
         font-size: 40px;
      }
   }

   .projects-page {
      padding: 20px 10px;

      & .row {
         margin: 20px 0px;
         align-items: center;

         & div.col-lg-6 {
            padding: 0px 10px !important;
         }
      }

      & .custom-card {
         height: fit-content;

         & .card-body {
            padding: 0;

            & .project-context {
               height: fit-content;
            }
         }
      }
   }

   .article-view-container {
      margin-top: 30px;
   }

   .list-container {
      width: 30%;
   }

   .article-show {
      width: 70%;
   }

   .about-page {
      & .row {
         align-items: center;

         & .col-lg-6 h2 {
            font-size: 26px;
         }
      }
   }

   .about-mission-section {
      & .row {
         align-items: center;

         & .col-lg-6 img {
            width: 200px !important;
         }
         & .col-lg-6 p {
            width: 100% !important;
            font-size: 20px !important;
         }
      }
   }

   .about-goals-section {
      & .row {
         & .col-md-3 {
            & img {
               width: 150px !important;
            }
            & h4 {
               font-size: 20px;
            }
         }
      }
   }

   .about-faq-section {
      & h3 {
         font-size: 22px;
         margin: 0 !important;
      }

      & .d-flex {
         align-items: center;

         & .mb-3 {
            margin: 0 !important;
         }
         & a.btn {
            height: fit-content;
         }
      }
   }

   .contact_container {
    height: auto;
    padding: 30px 10px;
}

   .contact_item{
    width: 33%;
   }

   .contact_item_img{
    width: 80px;
    height: 80px;
   }

   .contact_title {
    font-size: 40px;
    margin: 0px 0px 20px;
   }

   .contact_body{
    margin-top: 30px;
    align-items: start;
   }

   .contact_item_title {
    margin-top: 20px;
    font-size: 26px;
   }

   .contact_item_context{
    font-size: 18px;
   }

   .contact_item_btn{
    width: auto;
    height: auto;
    padding: 5px 30px;
    font-size: 18px;
   }

   .lastBR{
    display: none;
   }
}

/* Max-Width : 991px */

@media only screen and (max-width: 991px) {
   .search-btn {
      display: none;
   }

   .outer-form {
      display: flex !important;
   }

   .social-icons img {
      width: 35px !important;
      height: 35px !important ;
   }

   .image-col {
      justify-content: center;

      & img {
         width: 60%;
         text-align: center;
      }
   }

   .projects-page {
      & div.col-lg-6 {
         display: flex;
         justify-content: center;
      }

      & .center-div {
         flex-direction: column-reverse;
      }
   }

   .card-col {
      width: 60%;
   }

   .article-view-container {
      height: fit-content;
   }

   .list-container {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;

      & .item-container {
         width: 33%;
      }
   }

   .article-show {
      width: 100%;
      height: fit-content;
   }

   .about-page {
      & .col-lg-6 iframe {
         padding: 0;
      }

      & .row .col-lg-6 h2 {
         margin-top: 20px;
         font-size: 22px;
      }
   }

   .about-mission-section {
      & .row {
         align-items: center;

         & .col-lg-6 img {
            width: 150px !important;
            margin: 20px auto !important;
            padding: 0 !important;
         }
         & .col-lg-6 p {
            width: 60% !important;
            font-size: 18px !important;
            margin: 20px auto !important;
            text-align: center !important;
            padding: 0 !important;
            padding-bottom: 10px !important;
         }
      }
   }

   .about-faq-section {
      & h3 {
         font-size: 20px;
      }
   }
}
@media only screen and (max-width: 768px) {
    .list-container .item-title{
        font-size: 15px;
    }
}  
@media only screen and (max-width: 767px) {
   .footer-content {
      flex-direction: column;
   }
   .carousel-caption {
      margin-right: -50px;

      & p {
         font-size: 30px;
      }
   }

   .social-icons img {
      width: 30px !important;
      height: 30px !important;
   }

   .project-title {
      font-size: 26px;
   }

   .project-context p {
      font-size: 18px;
   }

   .card-footer {
      display: block;
      flex-wrap: wrap;
      justify-content: center;

      & div {
         text-align: center;
      }
   }

   .image-col img,
   .card-col {
      width: 70%;
   }

   .list-container {
      display: block;

      & .item-container {
         width: 100%;
         display: flex;
         align-items: center;
         padding: 10px;
         gap: 10px;

         & .item-image-container {
            width: 30%;
            height: 30%;
            margin: 0;

            & img {
               height: 100px;
            }
         }

         & .item-title {
            width: 70%;
            text-align: left;
         }
      }
   }

   .about-mission-section {
      & .row {
         & .col-lg-6 img {
            width: 150px !important;
            margin: 10px auto !important;
         }
         & .col-lg-6 p {
            width: 80% !important;
            font-size: 18px !important;
            margin: 10px auto !important;
         }
      }
   }

   .about-goals-section {
      & .row {
         justify-content: center;
         & .col-md-3 {
            & img {
               width: 120px !important;
            }
            & h4 {
               font-size: 18px;
            }
         }
      }
   }

   .about-faq-section {
      & h3 {
         font-size: 18px;
      }

      & .d-flex {
         flex-direction: column !important;
         gap: 10px;

         & .mb-3 {
            width: 100% !important;
         }
         & a.btn {
            margin-left: 0px !important;
         }
      }
   }

   .contact_body{
    flex-direction: column;
    gap: 30px;
   }

   .contact_item {
    width: 100%;
}

.contact_title {
    font-size: 34px;
}

.contact_item_img {
    width: 70px;
    height: 70px;
}

.contact_item_title {
    margin-top: 10px;
    font-size: 22px;
}

.contact_item_context {
    font-size: 17px;
}

.contact_item_btn{
    font-size: 17px;
    margin-top: 10px;
}

}
@media only screen and (max-width: 575px) {
   .carousel-item img {
      object-fit: cover;
      filter: brightness(0.5);
   }

   .carousel-caption {
      margin-right: -50px;
      width: 100%;

      & p {
         font-size: 26px;
      }
   }

   .image-col img,
   .card-col {
      width: 80%;
   }

   .about-page .row .col-lg-6 h2 {
      font-size: 20px;
   }

   .about-mission-section {
      & .row {
         & .col-lg-6 img {
            width: 120px !important;
            margin: 10px auto !important;
         }
         & .col-lg-6 p {
            width: 100% !important;
            font-size: 17px !important;
            margin: 10px auto !important;
         }
      }
   }

   .about-goals-section {
      & .row {
         justify-content: center;
         & .col-md-3 {
            & img {
               width: 100px !important;
               margin: 30px auto 0px !important;
            }
            & h4 {
               font-size: 17px;
            }
         }
      }
   }

   .about-faq-section {
      & .accordion-header button {
         padding: 10px 20px;
      }
      & h3 {
         font-size: 17px;
      }
      & h4 {
         font-size: 20px;
      }
   }
}

@media only screen and (max-width: 480px) {
   .image-col img,
   .card-col {
      width: 90%;
   }
}

@media only screen and (max-width: 430px) {
   .carousel-caption p {
      font-size: 24px;
   }

   .social-icons img {
      width: 25px !important;
      height: 25px !important;
   }

   .contact-menu h2 {
      font-size: 22px;
   }

   .image-col img,
   .card-col {
      width: 100%;
   }

   .project-title {
      font-size: 22px;
   }

   .project-context p {
      font-size: 17px;
   }

   .item-container {
      & img {
         height: 90px !important;
      }

      & .item-title {
         font-size: 15px;
      }
   }

   .about-page .row .col-lg-6 h2 {
      font-size: 18px;
   }

   .about-faq-section h4 {
      font-size: 18px;
   }

   .contact_container{
    padding: 20px;
   }

   .contact_body{
    gap: 20px;
   }

   .contact_item_img {
    width: 60px;
    height: 60px;
}

.contact_item_title {
    font-size: 20px;
}

.contact_title {
    font-size: 30px;
    margin: 0;
}

.contact_item_context {
    font-size: 16px;
}

.blog-container{
    padding: 8% 8% 8%;
}

}