.news-remove-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 40%;
	margin: auto;
}

.form-box {
	background-color: white;
	padding: 20px;
	border: 1px solid black;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-center {
	text-align: center;
	padding: 10px;
}

.form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.input-email {
	height: 40px;
	border: 1px solid black;
	width: 200px;
	margin: 10px;
	padding-left: 10px;
}

.remove-button {
	background-color: green;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	border: none;
	color: white;
	cursor: pointer;
}