.chatbot {
    margin: 20px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 75%;
    max-height: 60%;
    background: linear-gradient(45deg, rgba(30, 87, 30, 0.8), rgba(62, 138, 62, 0.8));
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(5, 185, 20);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.chatbot h2 {
    margin: 0;
}

.options-button,
.close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
}

.options-container {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-container li {
    padding: 10px;
    cursor: pointer;
}

.chatbox {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.chatbox li {
    margin: 20px;
    display: flex;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

.chatbox li img {
    max-width: 40px;
    max-height: 40px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.incoming img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.incoming p {
    background: linear-gradient(45deg, rgba(30, 87, 30, 0.8), rgba(62, 138, 62, 0.8));
    border: 3px solid rgb(123, 196, 27);
    border-radius: 5px;
    color: white;
    font-family: monospace;
    border-radius: 5px;
    padding: 10px;
}

.outgoing p {
    background-color: rgba(78, 78, 78, 0.8);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.quick-options {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.quick-options button {
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.quick-options button:hover {
    background: linear-gradient(45deg, rgba(30, 87, 30, 0.8), rgba(10, 50, 10, 0.8));
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

textarea {
    flex: 1;
    resize: none;
    border: 3px solid rgb(123, 196, 27);
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

#send-btn {
    cursor: pointer;
    font-size: 24px;
    color: green;
    background: none;
    border: none;
}

#sendImg {
    width: 65px;
    height: 65px;
    margin-right: 10px;
    border: 3px solid rgb(123, 196, 27);
    border-radius: 4px;

}

.bottomChatBot {
    margin-top: 5%;
    background: linear-gradient(45deg, rgba(30, 87, 30, 0.8), rgba(62, 138, 62, 0.8));
    /* Green blurry look */
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}