*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.form input,
.form button {
  max-width: 260px; /* Ensure a consistent width */
  display: block; /* Make sure the elements are block-level */
}

.bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width5 {
  width: 20px;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.login-toast-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 5s 1;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.social-container a:hover {
  background-color: #eee;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #ededed;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.dowebok {
  background: #fff;
}

.form {
  position: relative;
  height: 100%;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition:
    transform 0.6s ease-in-out,
    -webkit-transform 0.6s ease-in-out;
  padding: 50px 30px 0;
}

.signin-up-button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 35px;
  border-radius: 32px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.signin-up-button:hover {
  background-color: #917651;
}
.icon:hover {
  filter: invert(50%);
}
.auth-form {
  background-color: white;
  padding: 16px 24px;
  border-radius: 16px 16px 0 0;
}

.auth-form-switch {
  padding: 16px;
  background-image: url("./image/bg_2.png");
  background-size: cover;
  background-position: center; /* Ensure the image is centered */
  border-radius: 0 0 16px 16px;
  background-color: rgba(200, 100, 0, 0.5);
  background-blend-mode: multiply; /* Proper blending mode */
  color: white; /* Ensure text is readable */
  position: relative; /* Position context for z-index */
}

.auth-form-switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 100, 0, 0.5); /* Apply the overlay color */
  border-radius: 0 0 16px 16px; /* Match the border-radius */
  z-index: 1; /* Ensure the overlay is below the content */
}

.auth-form-switch .content {
  position: relative; /* Position context for content */
  z-index: 2; /* Ensure the content is above the overlay */
  padding: 16px; /* Add padding to ensure no content overlap */
}

.container_2 {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .auth-form {
    width: 60%;
    padding: 32px;
    border-radius: 16px 0 0 16px;
  }
  .auth-form-switch {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 16px 16px 0;
  }
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img__text {
  z-index: 2;
  width: 100%;
  padding: 0 20px;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition:
    transform 0.6s ease-in-out,
    -webkit-transform 0.6s ease-in-out;
}

.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

.img__text p {
  font-size: 14px;
  line-height: 1.5;
}

.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 24px auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition:
    transform 0.6s,
    -webkit-transform 0.6s;
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  text-align: center;
}

label span {
  font-size: 12px;
  color: #909399;
  text-transform: uppercase;
}

input {
  display: block;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  outline: none;
  text-align: center;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}

.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
}

.dowebok.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 0.6s;
  -webkit-transform: translate3d(640px, 0, 0);
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
  transform: translate3d(-900px, 0, 0);
}

.dowebok.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
