/* Max-Width : 768px */

@media only screen and (max-width: 768px) {
               .list-container .item-title {
                 font-size: 15px;
               }
             }
             
             /* Max-Width : 767px */
             
             @media only screen and (max-width: 767px) {
               .item-image-container {
                 width: 30%;
                 height: 30%;
                 margin: 0;
               }
               .item-image-container img {
                 height: 100px;
               }
               .list-container .item-title {
                 width: 70%;
                 text-align: left;
               }
             }
             