.footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  display: flex;
  background-color: #000000;
}

.footer .footer-row-container {
  display: flex;
  flex: 1 0;
  align-items: center;
  justify-content: flex-start;
}

.footer p {
  color: white;
  text-align: center;
}

.footer .brand-logo-container {
  height: 140px;
}

.footer .sponsor-logo-container {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
}

.footer .center-text {
  text-align: center;
  color: white;
}

.center-text-title {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.footer .column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .column-container-center {
  flex: 1 0;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.footer .icon-container {
  padding: 0.6vw;
  max-width: 4.7vw;
  max-height: 4.7vw;
}

.footer .icons-container {
  display: flex;
  padding-bottom: 16px;
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
  }

  .footer .sponsor-logo-container {
    justify-content:center;
  }
}