:root {
    --primary: #fff
}

.btn {
    padding: 8px 20px;
    border: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--medium:hover, .btn--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
    transition: 250ms;
}
