.article-container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}

.article-container h2 {
  font-size: 16px;
  font-weight: bold;
}

.article-container p {
  font-size: 16px;
  margin-bottom: 40px;
}

.article-container {
  background-color: rgb(255, 255, 255);
  padding: 5% 5%;
  height: 100%;
}

.article-container img {
  display: block;
  margin: auto;
  max-width: 100%;
  margin-bottom: 40px;
}
