.item-image {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.item-image-container {
  margin: auto;
  background-color: black;
  width: 85%;
  height: 210px;
  display: flex;
  overflow: hidden;
}

.item-title {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.item-separator {
  color: black;
  margin: 10px 0px 0px;
}

.item-container {
  padding-top: 20px;
}

.active {
  background-color: rgb(255, 255, 255);
}
