body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 80vh;
    width: 80vw;
    margin: 10vh auto;
    border: 1px solid black;
}

.vertical-line {
    position: fixed;
    top: 0;
    left: 42%;
    width: 1px;
    height: 90vh;
    background-color: black;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    height: 100vh;
    background-image: url('Background.jpg');
    background-size: cover;
    z-index: -2; 
}

.left {
    background-color: rgba(128, 128, 128, 0.301);
    flex: 0.7;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
    font-size: 21px; 
    font-weight: bold;
    text-align: center;
    margin: 0;
}  

.right {    
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right input {
    background-color: rgba(128, 128, 128, 0.301);
    margin: 10px;
    padding: 10px;
    width: 60%;
    height: 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 65%;
    
}

.links a {
    margin-left: 10px;
    color: green;
    text-decoration: underline;
    font-weight: bold;
}

button {
    background-color: green;
    color: white;
    padding: 10px 70px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.icon-links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 5px solid green;
    border-radius: 50%;
}

.icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: green;
}
