.pageHeading {
  color: black;
  font-size: 60px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.pageSubHeading {
  color: black;
  font-size: 30px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.iotRec {
  background-color: #e4f0ff;
  width: 800px;
  height: 300px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border: 1px solid black;
  margin-left: 200%;
}

.iotImage {
  padding: 3%;
  position: absolute;
}

.iotHeading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  padding-top: 5%;
  padding-left: 48%;
}

.iotPara {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  font-size: 14px;
  padding-top: 11%;
  padding-left: 52%;
  padding-right: 10%;
}

.iotLearnMore {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  font-size: 15px;
  padding-top: 28%;
  padding-left: 57%;
}

.statsRec {
  background-color: #e4f0ff;
  width: 800px;
  height: 300px;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border: 1px solid black;
  position: absolute;
  margin-top: 25%;
  margin-left: 19%;
}

.statsImage {
  padding: 3%;
  position: absolute;
}

.statsHeading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  padding-top: 5%;
  padding-left: 52%;
}

.statsPara {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  font-size: 14px;
  padding-top: 11%;
  padding-left: 52%;
  padding-right: 10%;
}

.statsLearnMore {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  font-size: 15px;
  padding-top: 28%;
  padding-left: 52%;
}

@media only screen and (orientation: portrait) {
  /* styles for portrait orientation */
}
