@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");

.p {
  font-style: italic;
}

/* handling padding of both axis */

.projectSection {
  @apply md:py-6 py-3  px-2;
}

/* Styling of input on chat bot */

input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}

/* changing font family */

.innerP {
  font-family: "Josefin Sans", sans-serif;
  @apply md:text-start text-center;
}

/* padding X axis and y axis */
.innerBtn {
  @apply py-2 px-6;
}

a {
  text-decoration: none;
}

.cardHoverEffect {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.cardHoverEffect:hover {
  background-color: #f0f5f5; /* Lighter shade for hover */
  box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Simple shadow for depth */
}

