.testimonial{
    width:45rem;
}

.testimony{
    width:100%;
    height: fit-content;
    background-color:#d4d4d4;
    text-align:center;
    border-radius:30px;
    
}

.userTestimony{
    font-size: 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.userCard{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
    
}

.testimonialUser{
    width:90px;
    height:90px;
}

.testimonyUserName{
    font-size:1vw;
    font-weight:bold;
}