@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');

.contact_body {
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem; /* Adjust gap as needed */
    flex-direction: column; /* Stack items vertically */
}   

.contact_title {
    height: auto;
    text-align: center;
    padding: 1rem;
    width: auto;
}

.contact_item {
    display: flex;
    flex-direction:row;
    height:100px;
    width:500px;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    border: 1px solid #4fa35a; /* Add border to match the other styles */
    padding: 2rem;
    border-radius: 0.5rem;
}

.contact_item_btn {
    font-family: 'Josefin Sans', sans-serif;
}
