@media (max-device-width:500px){
    .info {
        font-size: 10px;
    }
}

.info {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin:50px 150px;
}

body {
    background-color: rgb(30, 198, 30);
    background-image: linear-gradient(rgb(30, 198, 30), 30%, white);
}