

.top{
    color: black;
    font-size: 60px;
    position: relative;
    padding-left: 35%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.first{
    background-color: #E4F0FF;
    width: 1100px;
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border: 1px solid black;
}

.smart
{
    padding: 2%;
    position: absolute;
}

.text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 14px;
    padding-top: 8%;
    padding-left: 38%;
    padding-right: 38%;
}

.text2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 14px;
    padding-top: 8%;
    padding-left: 70%;
    padding-right: 10%;
}

.heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 12px;
    padding-top: 2%;
    padding-left: 50%;
}

.second{
    background-color: #E4F0FF;
    width: 1100px;
    height: 230px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border: 1px solid black;
}

.tech
{
    padding: 2%;
    position: absolute;
}

.heading2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 12px;
    padding-top: 2%;
    padding-left: 50%;
}

.techText{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 14px;
    padding-top: 8%;
    padding-left: 38%;
    padding-right: 38%;
}

.techText2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 14px;
    padding-top: 8%;
    padding-left: 70%;
    padding-right: 10%;
}